.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    color: #f3f4f6;
}

.headerLayout {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
} 

.itemsSeparator{
    width: 2rem;
}